{% extends 'base.html' %}

{% block content %}
    <h1>{{ student }} {{ date }}</h1>
    <h2>Summary</h2>
    <p>
    Your GPA is {{ '%1.2f'|format(summary.gpa|float) }}
    <br>You have {{ summary.todo }} assignments still to do to-day
    <br>You have {{ summary.missing }} missing assignments
    <br>You have {{ summary.low }} assignments with a low score
    </p>
    <h2>Today</h2>
    {{ today }}
    <h2>This Week</h2>
    {{ week }}
    <h2>Missing</h2>
    {{ missing }}
    <h2>Low Scores</h2>
    {{ low_score }}
    <h2>Grades</h2>
    {{ scores }}
{% endblock %}

