{% extends 'base.html' %}

{% block content %}
    <h2>Assignment Details</h2>
    <p>
    <b>Course:</b> {{ assignment.course }}
    <br><b>Name:</b> {{ assignment.name }}
    <br><b>Due:</b> {{ assignment.due_date }}
    <br><b>Submitted:</b> {{ assignment.submission_date }}
    <br><b>Graded:</b> {{ assignment.graded_date }}
    <br><b>Attempts:</b> {{ assignment.attempts }}
    <br><b>Possible gain:</b> {{ assignment.possible_gain }}
    </p>
    <h3>Comments</h3>
    {{ comments }}
{% endblock %}


