{% extends 'base.html' %}

{% block content %}
<h1>Canvas Reporter</h1>
<form method="GET" action="/all">
    <div id="student">
        <label for="student">Student:</label>
        <select name="student" id="student">
        {% for name in students %}
            <option value="{{name}}">{{name}}</option>
        {% endfor %}
        </select>
    </div>
    <div id="gain">
        <label for="min_gain">Minumum Gain:</label>
        <select name="min_gain" id="min_gain">
        {% for score in range(1,5) %}
            <option value="{{score}}" {% if score==2 %} selected="selected"{% endif %}>{{score}}</option>
        {% endfor %}
        </select>
    </div>
    <div id="include_zero">
        <input type="checkbox" name="include_zero_scores" value="true" class="css-checkbox">
        <label for="include_zero_scores" class="css-label">Include zero scores</label>
    </div>
    <div id="submit">
        <button type="submit">Run Report</button>
    </div>
</form>

{% endblock %}
