# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.19
      uses: actions/setup-python@v1
      with:
        python-version: 3.10.19
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run
      run: |
        python console.py --student nina > nina.txt        
    - name: Upload daily report
      uses: actions/upload-artifact@v4
      with:
          name: report
          path: |
            nina.txt
